<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="false"
	useFullscreenExpand="true"

>
  <image imageURL="images/IMG_3779.jpg"
	thumbURL="thumbs/IMG_3779.jpg"
	linkURL="images/IMG_3779.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3779.jpg">
    <title><![CDATA[IMG_3779]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3781.jpg"
	thumbURL="thumbs/IMG_3781.jpg"
	linkURL="images/IMG_3781.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3781.jpg">
    <title><![CDATA[IMG_3781]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3782.jpg"
	thumbURL="thumbs/IMG_3782.jpg"
	linkURL="images/IMG_3782.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3782.jpg">
    <title><![CDATA[IMG_3782]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3788.jpg"
	thumbURL="thumbs/IMG_3788.jpg"
	linkURL="images/IMG_3788.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3788.jpg">
    <title><![CDATA[IMG_3788]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3797.jpg"
	thumbURL="thumbs/IMG_3797.jpg"
	linkURL="images/IMG_3797.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3797.jpg">
    <title><![CDATA[IMG_3797]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3798.jpg"
	thumbURL="thumbs/IMG_3798.jpg"
	linkURL="images/IMG_3798.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3798.jpg">
    <title><![CDATA[IMG_3798]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3800.jpg"
	thumbURL="thumbs/IMG_3800.jpg"
	linkURL="images/IMG_3800.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3800.jpg">
    <title><![CDATA[IMG_3800]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3803.JPG"
	thumbURL="thumbs/IMG_3803.JPG"
	linkURL="images/IMG_3803.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3803.JPG">
    <title><![CDATA[IMG_3803]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3812.JPG"
	thumbURL="thumbs/IMG_3812.JPG"
	linkURL="images/IMG_3812.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3812.JPG">
    <title><![CDATA[IMG_3812]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3815.JPG"
	thumbURL="thumbs/IMG_3815.JPG"
	linkURL="images/IMG_3815.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3815.JPG">
    <title><![CDATA[IMG_3815]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3823.JPG"
	thumbURL="thumbs/IMG_3823.JPG"
	linkURL="images/IMG_3823.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3823.JPG">
    <title><![CDATA[IMG_3823]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3861.JPG"
	thumbURL="thumbs/IMG_3861.JPG"
	linkURL="images/IMG_3861.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3861.JPG">
    <title><![CDATA[IMG_3861]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3867.JPG"
	thumbURL="thumbs/IMG_3867.JPG"
	linkURL="images/IMG_3867.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3867.JPG">
    <title><![CDATA[IMG_3867]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3879.jpg"
	thumbURL="thumbs/IMG_3879.jpg"
	linkURL="images/IMG_3879.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3879.jpg">
    <title><![CDATA[IMG_3879]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3884.jpg"
	thumbURL="thumbs/IMG_3884.jpg"
	linkURL="images/IMG_3884.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3884.jpg">
    <title><![CDATA[IMG_3884]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3886.jpg"
	thumbURL="thumbs/IMG_3886.jpg"
	linkURL="images/IMG_3886.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_3886.jpg">
    <title><![CDATA[IMG_3886]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20130602_150355.jpg"
	thumbURL="thumbs/IMG_20130602_150355.jpg"
	linkURL="images/IMG_20130602_150355.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_20130602_150355.jpg">
    <title><![CDATA[IMG_20130602_150355]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20130602_155431.jpg"
	thumbURL="thumbs/IMG_20130602_155431.jpg"
	linkURL="images/IMG_20130602_155431.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_20130602_155431.jpg">
    <title><![CDATA[IMG_20130602_155431]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20130602_155443.jpg"
	thumbURL="thumbs/IMG_20130602_155443.jpg"
	linkURL="images/IMG_20130602_155443.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_20130602_155443.jpg">
    <title><![CDATA[IMG_20130602_155443]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20130602_160117.jpg"
	thumbURL="thumbs/IMG_20130602_160117.jpg"
	linkURL="images/IMG_20130602_160117.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_20130602_160117.jpg">
    <title><![CDATA[IMG_20130602_160117]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20130602_162919.jpg"
	thumbURL="thumbs/IMG_20130602_162919.jpg"
	linkURL="images/IMG_20130602_162919.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_20130602_162919.jpg">
    <title><![CDATA[IMG_20130602_162919]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20130602_172244.jpg"
	thumbURL="thumbs/IMG_20130602_172244.jpg"
	linkURL="images/IMG_20130602_172244.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_20130602_172244.jpg">
    <title><![CDATA[IMG_20130602_172244]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20130602_181017.jpg"
	thumbURL="thumbs/IMG_20130602_181017.jpg"
	linkURL="images/IMG_20130602_181017.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_20130602_181017.jpg">
    <title><![CDATA[IMG_20130602_181017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20130602_181059.jpg"
	thumbURL="thumbs/IMG_20130602_181059.jpg"
	linkURL="images/IMG_20130602_181059.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_20130602_181059.jpg">
    <title><![CDATA[IMG_20130602_181059]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20130602_181111.jpg"
	thumbURL="thumbs/IMG_20130602_181111.jpg"
	linkURL="images/IMG_20130602_181111.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/IMG_20130602_181111.jpg">
    <title><![CDATA[IMG_20130602_181111]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SDBCN4.jpeg"
	thumbURL="thumbs/SDBCN4.jpeg"
	linkURL="images/SDBCN4.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 startupdodgeball/Web/images/RAW/BCN/SDBCN4.jpeg">
    <title><![CDATA[SDBCN4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>