<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	imageQuality="60"
	galleryTitle="Startup Dodgeball 2014 Berlin"

>
  <image imageURL="images/_C0B7773.jpg"
	thumbURL="thumbs/_C0B7773.jpg"
	linkURL="images/_C0B7773.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7773.jpg">
    <title><![CDATA[_C0B7773]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1440.jpg"
	thumbURL="thumbs/DSC_1440.jpg"
	linkURL="images/DSC_1440.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/DSC_1440.jpg">
    <title><![CDATA[DSC_1440]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B8007.jpg"
	thumbURL="thumbs/_C0B8007.jpg"
	linkURL="images/_C0B8007.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B8007.jpg">
    <title><![CDATA[_C0B8007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7963.jpg"
	thumbURL="thumbs/IMG_7963.jpg"
	linkURL="images/IMG_7963.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/Downloads/documents-export-2014-05-07/IMG_7963.jpg">
    <title><![CDATA[IMG_7963]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1181.jpg"
	thumbURL="thumbs/DSC_1181.jpg"
	linkURL="images/DSC_1181.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/DSC_1181.jpg">
    <title><![CDATA[DSC_1181]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7746.JPG"
	thumbURL="thumbs/IMG_7746.JPG"
	linkURL="images/IMG_7746.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7746.JPG">
    <title><![CDATA[IMG_7746]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dodgeball_1-fixed.jpg"
	thumbURL="thumbs/Dodgeball_1-fixed.jpg"
	linkURL="images/Dodgeball_1-fixed.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/Dodgeball_1-fixed.jpg">
    <title><![CDATA[Dodgeball_1-fixed]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7953.jpg"
	thumbURL="thumbs/_C0B7953.jpg"
	linkURL="images/_C0B7953.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7953.jpg">
    <title><![CDATA[_C0B7953]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7777.jpg"
	thumbURL="thumbs/_C0B7777.jpg"
	linkURL="images/_C0B7777.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7777.jpg">
    <title><![CDATA[_C0B7777]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7792.jpg"
	thumbURL="thumbs/_C0B7792.jpg"
	linkURL="images/_C0B7792.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7792.jpg">
    <title><![CDATA[_C0B7792]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1232.jpg"
	thumbURL="thumbs/DSC_1232.jpg"
	linkURL="images/DSC_1232.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/DSC_1232.jpg">
    <title><![CDATA[DSC_1232]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7965.JPG"
	thumbURL="thumbs/IMG_7965.JPG"
	linkURL="images/IMG_7965.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Downloads/documents-export-2014-05-07/IMG_7965.JPG">
    <title><![CDATA[IMG_7965]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7989.jpg"
	thumbURL="thumbs/_C0B7989.jpg"
	linkURL="images/_C0B7989.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7989.jpg">
    <title><![CDATA[_C0B7989]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7799.jpg"
	thumbURL="thumbs/_C0B7799.jpg"
	linkURL="images/_C0B7799.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7799.jpg">
    <title><![CDATA[_C0B7799]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7801.jpg"
	thumbURL="thumbs/_C0B7801.jpg"
	linkURL="images/_C0B7801.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7801.jpg">
    <title><![CDATA[_C0B7801]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7802.jpg"
	thumbURL="thumbs/_C0B7802.jpg"
	linkURL="images/_C0B7802.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7802.jpg">
    <title><![CDATA[_C0B7802]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7807.jpg"
	thumbURL="thumbs/_C0B7807.jpg"
	linkURL="images/_C0B7807.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7807.jpg">
    <title><![CDATA[_C0B7807]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B8001.jpg"
	thumbURL="thumbs/_C0B8001.jpg"
	linkURL="images/_C0B8001.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B8001.jpg">
    <title><![CDATA[_C0B8001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7814.jpg"
	thumbURL="thumbs/_C0B7814.jpg"
	linkURL="images/_C0B7814.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7814.jpg">
    <title><![CDATA[_C0B7814]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7828.jpg"
	thumbURL="thumbs/_C0B7828.jpg"
	linkURL="images/_C0B7828.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7828.jpg">
    <title><![CDATA[_C0B7828]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7857.jpg"
	thumbURL="thumbs/_C0B7857.jpg"
	linkURL="images/_C0B7857.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7857.jpg">
    <title><![CDATA[_C0B7857]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7880.jpg"
	thumbURL="thumbs/_C0B7880.jpg"
	linkURL="images/_C0B7880.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7880.jpg">
    <title><![CDATA[_C0B7880]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7918.jpg"
	thumbURL="thumbs/_C0B7918.jpg"
	linkURL="images/_C0B7918.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7918.jpg">
    <title><![CDATA[_C0B7918]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7927.jpg"
	thumbURL="thumbs/_C0B7927.jpg"
	linkURL="images/_C0B7927.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7927.jpg">
    <title><![CDATA[_C0B7927]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dodgeball_2-fixed.jpg"
	thumbURL="thumbs/Dodgeball_2-fixed.jpg"
	linkURL="images/Dodgeball_2-fixed.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/Dodgeball_2-fixed.jpg">
    <title><![CDATA[Dodgeball_2-fixed]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7825.JPG"
	thumbURL="thumbs/IMG_7825.JPG"
	linkURL="images/IMG_7825.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7825.JPG">
    <title><![CDATA[IMG_7825]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7858.JPG"
	thumbURL="thumbs/IMG_7858.JPG"
	linkURL="images/IMG_7858.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7858.JPG">
    <title><![CDATA[IMG_7858]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7966.JPG"
	thumbURL="thumbs/IMG_7966.JPG"
	linkURL="images/IMG_7966.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Downloads/documents-export-2014-05-07/IMG_7966.JPG">
    <title><![CDATA[IMG_7966]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7823.JPG"
	thumbURL="thumbs/IMG_7823.JPG"
	linkURL="images/IMG_7823.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7823.JPG">
    <title><![CDATA[IMG_7823]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7987.jpg"
	thumbURL="thumbs/_C0B7987.jpg"
	linkURL="images/_C0B7987.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7987.jpg">
    <title><![CDATA[_C0B7987]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B8000.jpg"
	thumbURL="thumbs/_C0B8000.jpg"
	linkURL="images/_C0B8000.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B8000.jpg">
    <title><![CDATA[_C0B8000]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7749.JPG"
	thumbURL="thumbs/IMG_7749.JPG"
	linkURL="images/IMG_7749.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7749.JPG">
    <title><![CDATA[IMG_7749]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7981.jpg"
	thumbURL="thumbs/_C0B7981.jpg"
	linkURL="images/_C0B7981.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7981.jpg">
    <title><![CDATA[_C0B7981]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7966.jpg"
	thumbURL="thumbs/_C0B7966.jpg"
	linkURL="images/_C0B7966.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7966.jpg">
    <title><![CDATA[_C0B7966]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7797.JPG"
	thumbURL="thumbs/IMG_7797.JPG"
	linkURL="images/IMG_7797.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7797.JPG">
    <title><![CDATA[IMG_7797]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7860.JPG"
	thumbURL="thumbs/IMG_7860.JPG"
	linkURL="images/IMG_7860.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7860.JPG">
    <title><![CDATA[IMG_7860]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7969.jpg"
	thumbURL="thumbs/_C0B7969.jpg"
	linkURL="images/_C0B7969.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7969.jpg">
    <title><![CDATA[_C0B7969]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7864.JPG"
	thumbURL="thumbs/IMG_7864.JPG"
	linkURL="images/IMG_7864.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7864.JPG">
    <title><![CDATA[IMG_7864]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7872.JPG"
	thumbURL="thumbs/IMG_7872.JPG"
	linkURL="images/IMG_7872.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7872.JPG">
    <title><![CDATA[IMG_7872]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7928.jpg"
	thumbURL="thumbs/_C0B7928.jpg"
	linkURL="images/_C0B7928.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7928.jpg">
    <title><![CDATA[_C0B7928]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B7961.jpg"
	thumbURL="thumbs/_C0B7961.jpg"
	linkURL="images/_C0B7961.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B7961.jpg">
    <title><![CDATA[_C0B7961]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7755.JPG"
	thumbURL="thumbs/IMG_7755.JPG"
	linkURL="images/IMG_7755.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7755.JPG">
    <title><![CDATA[IMG_7755]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1335.jpg"
	thumbURL="thumbs/DSC_1335.jpg"
	linkURL="images/DSC_1335.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/DSC_1335.jpg">
    <title><![CDATA[DSC_1335]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B8005.jpg"
	thumbURL="thumbs/_C0B8005.jpg"
	linkURL="images/_C0B8005.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B8005.jpg">
    <title><![CDATA[_C0B8005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_C0B8006.jpg"
	thumbURL="thumbs/_C0B8006.jpg"
	linkURL="images/_C0B8006.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/_C0B8006.jpg">
    <title><![CDATA[_C0B8006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1195.jpg"
	thumbURL="thumbs/DSC_1195.jpg"
	linkURL="images/DSC_1195.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/DSC_1195.jpg">
    <title><![CDATA[DSC_1195]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1255.jpg"
	thumbURL="thumbs/DSC_1255.jpg"
	linkURL="images/DSC_1255.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/DSC_1255.jpg">
    <title><![CDATA[DSC_1255]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1274.jpg"
	thumbURL="thumbs/DSC_1274.jpg"
	linkURL="images/DSC_1274.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/DSC_1274.jpg">
    <title><![CDATA[DSC_1274]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_1381.jpg"
	thumbURL="thumbs/DSC_1381.jpg"
	linkURL="images/DSC_1381.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/DSC_1381.jpg">
    <title><![CDATA[DSC_1381]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7847.JPG"
	thumbURL="thumbs/IMG_7847.JPG"
	linkURL="images/IMG_7847.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/+ job +/+ projekte +/2013/13 02 Startup Dodgeball/Web StartupDodgeball/startupdodgeball.net/galleries/2014/ber/images/IMG_7847.JPG">
    <title><![CDATA[IMG_7847]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>