<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1280"
	maxImageHeight="1024"
	galleryTitle="Startup Dodgeball Berlin 2015"

>
  <image imageURL="images/2015-champions-2.JPG"
	thumbURL="thumbs/2015-champions-2.JPG"
	linkURL="images/2015-champions-2.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/2015-champions-2.JPG">
    <title><![CDATA[2015-champions-2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-champions.jpg"
	thumbURL="thumbs/2015-champions.jpg"
	linkURL="images/2015-champions.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/2015-champions.jpg">
    <title><![CDATA[2015-champions]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/best-outfit.jpg"
	thumbURL="thumbs/best-outfit.jpg"
	linkURL="images/best-outfit.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/best-outfit.jpg">
    <title><![CDATA[best-outfit]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3110.JPG"
	thumbURL="thumbs/IMG_3110.JPG"
	linkURL="images/IMG_3110.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/IMG_3110.JPG">
    <title><![CDATA[IMG_3110]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3120.JPG"
	thumbURL="thumbs/IMG_3120.JPG"
	linkURL="images/IMG_3120.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/IMG_3120.JPG">
    <title><![CDATA[IMG_3120]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3230.JPG"
	thumbURL="thumbs/IMG_3230.JPG"
	linkURL="images/IMG_3230.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/IMG_3230.JPG">
    <title><![CDATA[IMG_3230]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20150517_155920_1.jpg"
	thumbURL="thumbs/IMG_20150517_155920_1.jpg"
	linkURL="images/IMG_20150517_155920_1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/IMG_20150517_155920_1.jpg">
    <title><![CDATA[IMG_20150517_155920_1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.16_979.JPG"
	thumbURL="thumbs/inPhone 2015.05.16_979.JPG"
	linkURL="images/inPhone 2015.05.16_979.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.16_979.JPG">
    <title><![CDATA[inPhone 2015.05.16_979]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_949.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_949.JPG"
	linkURL="images/inPhone 2015.05.17_949.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_949.JPG">
    <title><![CDATA[inPhone 2015.05.17_949]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_951.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_951.JPG"
	linkURL="images/inPhone 2015.05.17_951.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_951.JPG">
    <title><![CDATA[inPhone 2015.05.17_951]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_952.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_952.JPG"
	linkURL="images/inPhone 2015.05.17_952.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_952.JPG">
    <title><![CDATA[inPhone 2015.05.17_952]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_953.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_953.JPG"
	linkURL="images/inPhone 2015.05.17_953.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_953.JPG">
    <title><![CDATA[inPhone 2015.05.17_953]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_954.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_954.JPG"
	linkURL="images/inPhone 2015.05.17_954.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_954.JPG">
    <title><![CDATA[inPhone 2015.05.17_954]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_955.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_955.JPG"
	linkURL="images/inPhone 2015.05.17_955.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_955.JPG">
    <title><![CDATA[inPhone 2015.05.17_955]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_959.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_959.JPG"
	linkURL="images/inPhone 2015.05.17_959.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_959.JPG">
    <title><![CDATA[inPhone 2015.05.17_959]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_960.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_960.JPG"
	linkURL="images/inPhone 2015.05.17_960.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_960.JPG">
    <title><![CDATA[inPhone 2015.05.17_960]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_961.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_961.JPG"
	linkURL="images/inPhone 2015.05.17_961.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_961.JPG">
    <title><![CDATA[inPhone 2015.05.17_961]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_965.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_965.JPG"
	linkURL="images/inPhone 2015.05.17_965.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_965.JPG">
    <title><![CDATA[inPhone 2015.05.17_965]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_966.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_966.JPG"
	linkURL="images/inPhone 2015.05.17_966.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_966.JPG">
    <title><![CDATA[inPhone 2015.05.17_966]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_967.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_967.JPG"
	linkURL="images/inPhone 2015.05.17_967.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_967.JPG">
    <title><![CDATA[inPhone 2015.05.17_967]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_968.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_968.JPG"
	linkURL="images/inPhone 2015.05.17_968.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_968.JPG">
    <title><![CDATA[inPhone 2015.05.17_968]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_969.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_969.JPG"
	linkURL="images/inPhone 2015.05.17_969.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_969.JPG">
    <title><![CDATA[inPhone 2015.05.17_969]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_972.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_972.JPG"
	linkURL="images/inPhone 2015.05.17_972.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_972.JPG">
    <title><![CDATA[inPhone 2015.05.17_972]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_973.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_973.JPG"
	linkURL="images/inPhone 2015.05.17_973.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_973.JPG">
    <title><![CDATA[inPhone 2015.05.17_973]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/inPhone 2015.05.17_975.JPG"
	thumbURL="thumbs/inPhone 2015.05.17_975.JPG"
	linkURL="images/inPhone 2015.05.17_975.JPG"
	linkTarget="_blank"
	sourcePath="/Users/andree/Desktop/1/ber/inPhone 2015.05.17_975.JPG">
    <title><![CDATA[inPhone 2015.05.17_975]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>